#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    padding-top: 22px;
    
}


.menu_left {
    width: 200px;
    height: 200px;
    float: left;
}


.menu_center {
    width: 200px;
    height: 200px;
    float: left;
}

.menu_right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0; margin: 0px auto;
    width: 600px;
    height: 200px;
}

#btnOrder {
    margin:10px 0px 0px 100px;
	width:100px;
	height:40px;
	display: block;
	margin: 25px auto;
	}

body {
    background-color: blanchedalmond;
}

h1 {
    font-family: 'Italianno', cursive;
    color: firebrick;  
    text-align: center;
}

h3 {
    font-family: 'Gayathri', sans-serif;
    color: darkgreen;
}
div {
    font-family: 'Raleway', sans-serif;
    color: #3c3c3c;
}

